<center>
<h1>Editing Review</h1>
  <%= render partial: 'form', locals: { path: "/shelters/#{@shelter.id}/reviews/#{@review.id}",
                                        method: :patch,
                                        button_text: 'Save Review'} %>
</center>
